@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 0.4em 2em;
  margin: 0em auto;
}
.header_wrapperlogo_img {
  width: 60px;
}
.header_wrapper_menu {
  width: 40px;
  height: 40px;
  background-color: #005dff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0em;
  cursor: pointer;
}
.header_wrapper_menu:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.header_wrapper_nav {
  display: flex;
  align-items: center;
}
.header_wrappernav_link {
  position: relative;
  margin-right: 1em;
}
.header_wrappernavlink_input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.header_wrappernavlink_content {
  border-radius: 20px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  padding: 0.7em 1.5em;
}

.header_wrappernavlink_input:hover ~ .header_wrappernavlink_content,
.header_wrappernavlink_input:checked ~ .header_wrappernavlink_content {
  transition: 500ms ease-in-out;
  background: #005dff;
  width: 100%;
}
.header_wrappernav_button {
  position: relative;
}
.header_wrappernavbutton_input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.header_wrappernavbutton_content {
  padding: 0.5em 1.5em;
  border-radius: 50px;
  background: linear-gradient(#1a1a1a, #373737);
  color: white;
}
.header_wrappernavbutton_content:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.home__main__container {
  width: 100%;
  height: 85vh;
  position: relative;
  margin-top: -6em;
}
.our__school__container {
  width: 100%;
  height: 75vh;
  position: relative;
  margin-top: -6em;
}
.home__main__container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__main__container__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our__school__container__overlay__content {
  width: 100%;
  height: 100%;
  background: rgb(0, 93, 255, 0.45);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__main__container__overlay__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.home__main__container__overlay__content__heading {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}
.our__school__overlay__content__heading {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}
.home__main__container__overlay__content__heading span {
  font-size: 30px;
  font-weight: 400;
}
.home__main__container__overlay__content__heading__buttom__text {
  position: absolute;
  padding: 0.6em 2em;
  background: #ffffff;
  width: fit-content;
  border-radius: 10px;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 500;
  bottom: -50px;
  right: 0px;
}
.events__main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  height: fit-content;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-top: -8em;
  position: relative;
  z-index: 9999;
}
.our__story__main__container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  position: relative;
}
.our__story__main__container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our__story__main__container__content {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  height: fit-content;
  padding: 2em;
  border-radius: 14px 14px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -6em;
  position: relative;
  background: #ffffff;
}
.our__story__main__container__content__reverse {
  width: 100%;
  border-radius: 0px 0px 14px 14px;
  max-width: 1440px;
  margin: 0px auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #ffffff;
  padding-top: 2em;
}
.our__story__main__container__content__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.our__story__main__container__content__left__reverse {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.our__story__main__container__content__left__heading {
  font-size: 24px;
  color: #1a1a1a;
  font-weight: 600;
  text-transform: uppercase;
}
.our__story__main__container__content__left__paragraph {
  font-size: 14px;
  color: #373737;
  margin: 1em 0em;
}
.our__story__main__container__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}
.our__story__main__container__content__img {
  width: 450px;
  aspect-ratio: 10/9;
}
.events__main__container__heading {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  padding: 0em 1em;
}
.events__main__container__content {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow-y: auto;
}
.campus__main__container__content {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events__main__container__content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}
.events__main__container__content::-webkit-scrollbar-thumb {
  background: #005dff;
  border-radius: 6px;
}
.events__main__container__content::-webkit-scrollbar-track {
  background: transparent;
}
.events__main__container__content__card {
  width: 18%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.events__main__container__content__card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transition: 400ms ease-in-out;
}
.events__main__container__content__card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 0.8em;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 93, 255, 0.5);
  border-radius: 14px;
}
.events__main__container__content__card__overlay:hover {
  background: rgb(255, 255, 255, 0.6);
  transition: 400ms ease-in-out;
  color: #1a1a1a;
}
.events__main__container__content__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.sports__main__container__content__card {
  width: 18%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  margin-right: 1em;
  margin-bottom: 1em;
}
.sports__main__container__content__card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transition: 400ms ease-in-out;
}
.sports__main__container__content__card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 0.8em;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 93, 255, 0.5);
  border-radius: 14px;
}
.sports__main__container__content__card__overlay:hover {
  background: rgb(255, 255, 255, 0.6);
  transition: 400ms ease-in-out;
  color: #1a1a1a;
}
.sports__main__container__content__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.news__main__section {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2em;
  margin: 0px auto;
}
.news__main__section__content {
  padding: 2em;
  background: #022b43;
  border-radius: 12px;
}
.news__main__section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.news__main__section__heading {
  font-size: 16px;
  color: #ffffff;
  background: #005dff;
  padding: 0.7em 1em;
  border-radius: 20px;
  font-weight: 600;
}
.news__main__section__date {
  font-size: 14px;
  color: #ffffff;
}
.news__main__section__paragraph {
  font-size: 14px;
  color: #ffffff;
}
.our__school__main__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.our__school__main__container__content {
  padding: 3em 2em;
  height: fit-content;
  width: 100%;
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}
.our__school__main__container__right__img {
  width: 400px;
}
.our__school__main__container__heading {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 600;
}
.about__main__container__content__right__heading {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.our__school__main__container__left {
  width: 60%;
}
.our__school__main__container__right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our__school__main__container__paragragh {
  font-size: 14px;
  color: #1a1a1a;
  margin-top: 1em;
}
.about__main__container__content__right__paragraph {
  font-size: 14px;
  color: #ffffff;
  margin-top: 1em;
}
.about__main__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.about__main__container__content {
  padding: 1em 2em;
  width: 100%;
  height: 320px;
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #005dff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(0, 93, 255, 0.06);
}
.about__main__container__content__right {
  width: 60%;
}
.about__main__container__content__img {
  width: 700px;
}
.campus__life__main__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.campus__life__main__container__heading {
  font-size: 30px;
  color: #1a1a1a;
  font-weight: 600;
  text-align: center;
}
.campus__life__main__container__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
.campus__life__main__container__content__card {
  width: 23%;
  margin-right: 1em;
  margin-top: 1em;
  position: relative;
  cursor: pointer;
}
.campus__life__main__container__content__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.campus__life__main__container__content__card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    rgb(255, 255, 255, 0),
    rgb(255, 255, 255, 0.2),
    #005dff
  );
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.campus__life__main__container__content__card__overlay:hover {
  align-items: center;
  background: rgb(0, 93, 255, 0.5);
  transition: 300ms ease-in-out;
}
.campus__life__main__container__content__card__overlay__heading {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1em;
}
.contact__us__main__container {
  width: 100%;
  height: 85vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contact__us__main__container__img {
  width: 100%;
  height: 100% !important;
  object-fit: cover !important;
}
.contact__us__main__container__overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 93, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__us__main__container__overlay__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 0em 2em;
}
.contact__us__main__container__overlay__content__form {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.contact__us__main__container__overlay__content__form__heading {
  font-size: 26px;
  color: #ffffff;
  font-weight: 600;
}
.contact__us__main__container__overlay__content__form__paragraph {
  font-size: 14px;
  color: #ffffff;
  width: 90%;
}
.contact__us__main__container__overlay__content__form__input {
  padding: 0.6em 0em;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  margin-top: 1em;
}
.contact__us__main__container__overlay__content__form__input:focus {
  border-bottom: 2px solid #ffffff;
}
.contact__us__main__container__overlay__content__form__input::placeholder {
  color: #ffffff;
}
.primary__btn {
  border-radius: 20px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  padding: 1em 4em;
  width: fit-content;
  font-size: 14px;
  cursor: pointer;

  background: #005dff;
  border: none;
  outline: none;
}
.primary__btn:hover {
  background: #022b43;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  transition: 300ms ease-in-out;
}
.contact__us__main__container__overlay__content__office__hours {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  background: #ffffff;
  padding: 0.6em 1em;
  border-radius: 20px;
  margin-top: 2em;
}
.contact__us__main__container__overlay__content__office__hours span {
  margin-left: 2em;
}
.contact__us__main__container__overlay__content__contact__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.4em;
  padding: 0em 2em;
}
.contact__us__main__container__overlay__content__contact__line {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 300px;
  margin-right: 1em;
}
.contact__us__main__container__overlay__content__contact__line svg {
  width: 20px;
  height: 20px;
  margin-right: 0.6em;
}
.contact__us__main__container__overlay__content__map {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact__us__main__container__overlay__content__map iframe {
  aspect-ratio: 16/10;
  width: 90%;
}
.addmission__main__container {
  width: 100%;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0em;
}
.addmission__main__container__content__wrapper__headings__wrapper {
  width: 98%;
  height: fit-content;
  margin: 0em 2em;
  padding: 2em;
  border-radius: 14px 14px 0px 0px;
  background: #ffffff;
  z-index: 999;
  margin-bottom: -1em;
  display: none;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.addmission__main__container__content {
  width: 98%;
  max-width: 1440px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  margin: 0em 1em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.addmission__main__container__content__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.addmission__main__container__content__overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 93, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  border-radius: 14px;
}
.addmission__main__container__content__overlay__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 4em;
}
.addmission__main__container__content__wrapper {
  position: absolute;
  top: -160px;
  left: -70px;
  width: 50%;
  height: 150%;
  background: #ffffff;
  transform: rotate(15deg);
}
.addmission__main__container__content__wrapper__headings__container {
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.addmission__main__container__content__wrapper__heading {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0.6em 0em;
}
.addmission__main__container__content__wrapper__paragraph {
  width: 90%;
  font-size: 14px;
  color: #1a1a1a;
}
.addmission__main__container__content__overlay__content__paragragh {
  font-size: 14px;
  margin: 0.5em 0em;
  color: #ffffff;
}
.footer__main__container {
  width: 100%;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__main__container__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
}
.footer__main__container__content__entry__wrapper__entry {
  font-size: 14px;
  color: #1a1a1a;
  margin-top: 0.7em;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.footer__main__container__content__entry__wrapper__entry__copyright {
  font-size: 14px;
  color: #677294;
  text-decoration: none;
}
.footer__main__container__content__entry__wrapper__entry__link {
  font-size: 14px;
  color: #677294;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.footer__main__container__content__entry__wrapper__entry__link:nth-child(1):after {
  position: absolute;
  content: "";
  top: 0px;
  right: -50px;
  width: 2px;
  height: 16px;
  background: #677294;
}
.footer__main__container__content__entry__wrapper__entry__link:hover {
  color: #005dff;
  transition: 400ms ease-in-out;
}
.footer__main__container__content__entry__wrapper__entry svg {
  width: 18px;
  height: 18px;
  margin-right: 1em;
}
.footer__main__container__content__entry__wrapper__entry:hover {
  color: #005dff;
  transition: 499ms ease-in-out;
}
.footer__main__container__content__entry__heading {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.footer__main__container__content__entry__wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #1a1a1a;
  width: 300px;
}
.footer__main__container__content__entry__wrapper__img {
  width: 65px;
  margin-top: 0.5em;
}
.footer__main__container__content__entry__wrapper__social__wrapper {
  width: 80%;
  display: flex;
  margin-top: 2em;
  padding: 1em;
}
.footer__main__container__content__entry__wrapper__social {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #979696;
  display: flex;
  justify-content: center;
  margin-right: 0.7em;
  align-items: center;
}
.footer__main__container__content__entry__wrapper__social:hover {
  background: #005dff;
  color: #ffffff !important;
  transition: 400ms ease-in-out;
}
.footer__main__container__content__entry__wrapper__social svg {
  width: 15px;
  height: 15px;
  color: #979696;
}
.footer__main__container__content__buttom__content {
  width: 100%;
  max-width: 1440px;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__main__container__content__entry__wrapper__right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parents__handbook__main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #005dff;
  padding: 2em;
  margin-top: 2em;
  border-radius: 14px;
}
.parents__handbook__main__container__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.parents__handbook__main__container__left__heading {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}
.parents__handbook__main__container__left__paragraph {
  font-size: 14px;
  color: #fff;
  margin: 0.6em 0em;
}
.parents__handbook__main__container__img {
  width: 380px;
}
.assignment__main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #022b43;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 14px;
}
.assignment__main__container__heading {
  width: 26%;
  margin-right: 2em;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.assignment__main__container__paragraph {
  flex: 1;
  font-size: 14px;
  color: #ffffff;
}
.academic__main__container__content {
  width: 100%;
  background: #005dff;
  height: 400px;
}
.academic__main__container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.academic__main__container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.academic__main__container__content__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.academic__main__container__content__overlay__pic {
  width: 750px;
}
.academic__main__container__content__overlay__heading {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
.academic__main__container__content__overlay__paragraph {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.academic__main__container__content__overlay__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.further__details__our__school__main__section {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.further__details__our__school__main__section__wrapper {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #022b43;
  border-radius: 14px;
  margin: 0px auto;
}
.further__details__our__school__main__section__wrapper__policy {
  background: #005dff;
  margin: 2em 0em;
}
.further__details__our__school__main__section__wrapper__policy__academic {
  background: #ffffff;
  color: #1a1a1a !important;
}
.further__details__our__school__main__section__wrapper__heading {
  width: 20%;
  margin-right: 2em;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.further__details__our__school__main__section__wrapper__paragraph {
  font-size: 14px;
  color: #ffffff;
}
.further__details__our__school__main__section__wrapper__paragraph {
  width: 80%;
}
.campus__main__container__content__card {
  width: 34%;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  padding: 2em;
}
.campus__main__container__content__card:nth-child(2) {
  background: #005dff;
}
.campus__main__container__content__card:nth-child(3) {
  background: #022b43;
}
.campus__main__container__content__card__heading {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.campus__main__container__content__card__entry {
  font-size: 14px;
  color: #1a1a1a;
  margin-left: 1em;
  position: relative;
  margin-top: 0.6em;
}
.campus__main__container__content__card__entry::after {
  position: absolute;
  top: 4px;
  left: -20px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #005dff;
}
.campus__main__container__content__card__sub__entry {
  font-size: 14px;
  color: #1a1a1a;
  margin-left: 2em;
  position: relative;
  margin-top: 0.6em;
}
.campus__main__container__content__card__sub__entry::after {
  position: absolute;
  top: 4px;
  left: -20px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #022b43;
}
.campus__main__container__content__card__entry__center {
  font-size: 14px;
  color: #1a1a1a;
  margin-left: 2em;
  position: relative;
  margin-top: 0.6em;
}
.campus__main__container__content__card__entry__center::after {
  position: absolute;
  top: 4px;
  left: -20px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #022b43;
}
.campus__main__container__content__card__entry__white {
  color: #ffffff;
}
.sports__main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sports__main__container__heading__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em 2em;
}
.sports__main__container__heading {
  font-size: 26px;
  color: #1a1a1a;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0em 1.5em;
}
@media (max-width: 1700px) {
  .academic__main__container {
    height: 1100px;
  }
}
@media (max-width: 1440px) {
  .academic__main__container {
    height: 1250px;
  }
  .our__story__main__container__content {
    max-width: calc(1440px - 10em);
  }
  .our__story__main__container__content__reverse {
    max-width: calc(1440px - 10em);
  }
  .parents__handbook__main__container {
    max-width: calc(1440px - 10em);
  }
  .assignment__main__container {
    max-width: calc(1440px - 10em);
  }
}
@media (max-width: 1250px) {
  .about__main__container__content__img {
    width: 500px;
  }
  .about__main__container__content {
    height: fit-content;
  }
  .footer__main__container__content__entry__wrapper__entry__link::after {
    display: none;
  }
}
@media (max-width: 1050px) {
  .sports__main__container__content__card {
    width: 30%;
  }
  .academic__main__container {
    height: 1450px;
  }
  .assignment__main__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our__story__main__container__content__img {
    width: 400px;
  }
  .assignment__main__container__heading {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }
  .assignment__main__container {
    min-width: 100%;
  }
  .footer__main__container__content__buttom__content {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .footer__main__container__content__entry__wrapper__right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 0.5em;
  }
  .footer__main__container__content__entry__wrapper__entry__link {
    margin-bottom: 0.5em;
  }
  .addmission__main__container__content__wrapper__headings__wrapper {
    display: flex;
  }
  .addmission__main__container__content__wrapper {
    display: none;
  }
  .addmission__main__container__content__wrapper__headings__container {
    display: none;
  }
  .addmission__main__container__content__overlay__content {
    width: 100%;
  }
  .contact__us__main__container__overlay__content__map {
    display: none;
  }
  .contact__us__main__container__overlay__content__form {
    width: 100%;
  }
  .campus__life__main__container__content__card {
    width: 30%;
  }
  .about__main__container__content {
    flex-direction: column;
  }
  .our__school__main__container__right__img {
    width: 320px;
  }
  .our__school__main__container__left {
    width: 50%;
  }
  .events__main__container__content__card {
    min-width: 23%;
  }
  .events__main__container__content__card:nth-child(1) {
    margin-left: 14em;
  }
  .header_wrapper_menu {
    display: flex;
  }
  .header_wrapper_nav {
    position: absolute;
    top: 90px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    left: 0px;
    z-index: 999;
  }
  .header_wrappernav_link {
    margin-right: 0em;
    margin-bottom: 0.3em;
  }
  .header_wrappernav_button {
    margin-top: 0.2em;
  }
  .about__main__container__content__right {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .campus__main__container__content {
    flex-direction: column;
  }
  .campus__main__container__content__card {
    width: 100%;
    margin-top: 2em;
  }
  .further__details__our__school__main__section__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .further__details__our__school__main__section__wrapper__paragraph {
    width: 100%;
    margin-top: 1em;
  }
  .further__details__our__school__main__section__wrapper__heading {
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  .academic__main__container {
    height: 1800px;
  }
  .our__story__main__container__content {
    flex-direction: column;
    min-width: 100%;
  }
  .our__story__main__container__content__reverse {
    flex-direction: column-reverse;
    min-width: 100%;
  }
  .parents__handbook__main__container {
    min-width: 100%;
    flex-direction: column;
  }
  .our__story__main__container__content__left {
    width: 100%;
  }
  .our__story__main__container__content__left__reverse {
    width: 100%;
  }
  .parents__handbook__main__container__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .footer__main__container__content {
    flex-direction: column;
  }
  .footer__main__container__content__entry__wrapper {
    width: 100%;
    margin-top: 2em;
  }
  .events__main__container__content__card {
    min-width: 27%;
  }
  .campus__life__main__container__content__card {
    width: 46%;
  }
  .about__main__container__content__img {
    width: 400px;
  }
  .our__school__main__container__content {
    flex-direction: column;
  }
  .our__school__main__container__left {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media (max-width: 730px) {
  .academic__main__container {
    height: 2100px;
  }
}
@media (max-width: 600px) {
  .sports__main__container__content__card {
    width: 42%;
  }
  .academic__main__container {
    height: 2400px;
  }
  .assignment__main__container__paragraph {
    text-align: justify;
  }
  .campus__life__main__container__content__card {
    width: 100%;
  }
  .our__story__main__container__content__img {
    margin-top: 1em;
    width: 350px;
  }
  .parents__handbook__main__container__img {
    width: 350px;
  }
  .parents__handbook__main__container__left__paragraph {
    text-align: justify;
  }
  .about__main__container__content__right__heading {
    text-align: center;
  }
  .our__school__main__container__heading {
    text-align: center;
  }
  .home__main__container__overlay__content__heading {
    font-size: 20px;
  }
  .home__main__container__overlay__content__heading span {
    font-size: 20px;
  }
  .events__main__container__content__card {
    min-width: 44%;
  }
  .events__main__container__content__card:nth-child(1) {
    margin-left: 14em;
  }
  .events__main__container {
    padding: 0.5em;
  }
  .news__main__section__header {
    flex-direction: column;
  }
  .news__main__section__date {
    margin-top: 1em;
  }
  .news__main__section__paragraph {
    text-align: justify;
  }
  .about__main__container__content__img {
    width: 320px;
  }
  .contact__us__main__container__overlay__content__contact__wrapper {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .contact__us__main__container__overlay__content__contact__line {
    margin-top: 1em;
  }
  .contact__us__main__container__overlay__content__office__hours {
    width: 80%;
  }
  .addmission__main__container__content__overlay__content {
    padding: 1.5em;
  }
  .contact__us__main__container__overlay__content__form {
    padding: 0.5em;
  }
  .our__story__main__container__content__left {
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .our__story__main__container__content__left__reverse {
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
}
@media (max-width: 450px) {
  .academic__main__container {
    height: 2500px;
  }
}
